<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsApp.state.home.title">States</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-state" [routerLink]="['/state/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsApp.state.home.createLabel">
            Create a new State
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="states?.length === 0">
        <span jhiTranslate="cpsApp.state.home.notFound">No states found</span>
    </div>
    <div class="table-responsive" *ngIf="states?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsApp.state.name">Name</span></th>
            <th><span jhiTranslate="cpsApp.state.code">Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let state of states ;trackBy: trackId">
                <td><a [routerLink]="['/state', state.id, 'view' ]">{{state.id}}</a></td>
                <td>{{state.name}}</td>
                <td>{{state.code}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/state', state.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/state', state.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/state', { outlets: { popup: state.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
