<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cpCase">
            <h2><span jhiTranslate="cpsApp.cpCase.detail.title">Cp Case</span> {{cpCase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsApp.cpCase.schoolName">School Name</span></dt>
                <dd>
                    <span>{{cpCase.schoolName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.schoolId">School Id</span></dt>
                <dd>
                    <span>{{cpCase.schoolId}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.studentName">Student Name</span></dt>
                <dd>
                    <span>{{cpCase.studentName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.gender">Gender</span></dt>
                <dd>
                    <span>{{cpCase.gender}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.note">Note</span></dt>
                <dd>
                    <span>{{cpCase.note}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.reporterName">Reporter Name</span></dt>
                <dd>
                    <span>{{cpCase.reporterName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.cluster">Cluster</span></dt>
                <dd>
                    <span>{{cpCase.cluster}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.email">Email</span></dt>
                <dd>
                    <span>{{cpCase.email}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{cpCase.phoneNumber}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.incidentText">Incident Text</span></dt>
                <dd>
                    <span>{{cpCase.incidentText}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.incidentTypeText">Incident Type Text</span></dt>
                <dd>
                    <span>{{cpCase.incidentTypeText}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.gradeText">Grade Text</span></dt>
                <dd>
                    <span>{{cpCase.gradeText}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.homeRoomText">Home Room Text</span></dt>
                <dd>
                    <span>{{cpCase.homeRoomText}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.relationshipText">Relationship Text</span></dt>
                <dd>
                    <span>{{cpCase.relationshipText}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.incident">Incident</span></dt>
                <dd>
                    <div *ngIf="cpCase.incident">
                        <a [routerLink]="['/incident', cpCase.incident?.id, 'view']">{{cpCase.incident?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.incidentType">Incident Type</span></dt>
                <dd>
                    <div *ngIf="cpCase.incidentType">
                        <a [routerLink]="['/incident-type', cpCase.incidentType?.id, 'view']">{{cpCase.incidentType?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.grade">Grade</span></dt>
                <dd>
                    <div *ngIf="cpCase.grade">
                        <a [routerLink]="['/grade', cpCase.grade?.id, 'view']">{{cpCase.grade?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.homeRoom">Home Room</span></dt>
                <dd>
                    <div *ngIf="cpCase.homeRoom">
                        <a [routerLink]="['/home-room', cpCase.homeRoom?.id, 'view']">{{cpCase.homeRoom?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cpsApp.cpCase.relationship">Relationship</span></dt>
                <dd>
                    <div *ngIf="cpCase.relationship">
                        <a [routerLink]="['/relationship', cpCase.relationship?.id, 'view']">{{cpCase.relationship?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cp-case', cpCase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
