<div class="container-fluid">
    <div class="col-12  justify-content-center mx-3">
        <h2 id="page-heading">
            <span jhiTranslate="cpsApp.cpCase.home.title">Cp Cases</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cp-case"
                [routerLink]="['/cp-case/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span jhiTranslate="cpsApp.cpCase.home.createLabel">
                    Create a new Cp Case
                </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        </br>
        <div class="container-fluid">
        
            <div class="col-12 justify-content-center mx-3">
        
                <div class="row justify-content-center">
        
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                    <div class="col-4">
                        <label for="field_caseNumber">Case Number</label> &nbsp;&nbsp;
                        <input type="text" name="caseNumber" id="field_caseNumber" [(ngModel)]="caseNumber" />
        
                    </div>
                </div>
            </div>
        </div>
       

        <br />
        <div class="alert alert-warning" *ngIf="cpCases?.length === 0">
            <span jhiTranslate="cpsApp.cpCase.home.notFound">No cpCases found</span>
        </div>

        <div class="table-responsive" *ngIf="cpCases?.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><span>Student Number</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.studentName">Student Name</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.incident">Incident</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.incidentType">Incident Type</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.schoolName">School Name</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.grade">Grade</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.homeRoom">Home Room</span></th>
                        <th><span>Academic Year</span></th>
                        <th><span>CPO</span></th>
                        <th><span jhiTranslate="cpsApp.cpCase.reporterName">Reporter Name</span></th>
                        <th><span>Status</span></th>
                        <th><span>Counter</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cpCase of cpCases ;trackBy: trackId">
                        <td><a [routerLink]="['/cp-case', cpCase.id, 'view' ]">{{cpCase.studentNumber}}</a></td>
                        <td>{{cpCase.studentName}}</td>
                        <td>
                            <div *ngIf="cpCase.incident">
                                <a
                                    [routerLink]="['/incident', cpCase.incident?.id, 'view' ]">{{cpCase.incident?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="cpCase.incidentType">
                                <a
                                    [routerLink]="['/incident-type', cpCase.incidentType?.id, 'view' ]">{{cpCase.incidentType?.name}}</a>
                            </div>
                        </td>

                        <td>{{cpCase.schoolName}}</td>

                        <td>
                            <div *ngIf="cpCase.grade">
                                <a [routerLink]="['/grade', cpCase.grade?.id, 'view' ]">{{cpCase.grade?.name}}</a>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="cpCase.homeRoom">
                                <a
                                    [routerLink]="['/home-room', cpCase.homeRoom?.id, 'view' ]">{{cpCase.homeRoom?.name}}</a>
                            </div>
                        </td>

                        <td>{{cpCase.academicYear}}</td>
                        <td>{{cpCase.officer}}</td>
                        <td>{{cpCase.reporterName}}</td>
                        <td>
                            <div *ngIf="cpCase.caseStatus">
                                <a
                                    [routerLink]="['/case-status', cpCase.caseStatus?.id, 'view' ]">{{cpCase.caseStatus?.name}}</a>
                            </div>
                        </td>
                        <td>{{cpCase.incidentCounter}}</td>

                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/cp-case', cpCase.id, 'view' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit" [routerLink]="['/cp-case', cpCase.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                    [routerLink]="['/cp-case', { outlets: { popup: cpCase.id + '/delete'} }]"
                                    replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>