<!--<div class="jumbotron jumbotron-fluid">-->
    <div class="container-fluid">
            <h2 id="jhi-cp-case-heading" jhiTranslate="cpsApp.cpCase.home.createOrEditLabel">Create or edit a Cp
                    Case</h2>
        <div class="col-12 justify-content-center mx-3">
            <form name="editForm" role="form" [formGroup]="editForm">
              
                <div class="row justify-content-center">
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group col-6" [hidden]="true"> <!--="!editForm.get('id').value">-->
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control col-6 " id="id" name="id" formControlName="id"
                            readonly />
                    </div>

                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.incident"
                            for="field_incident">Incident</label>
                        <select class="form-control col-6 " id="field_incident" name="incident"
                            formControlName="incident">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="incidentOption.id === editForm.get('incident').value?.id ? editForm.get('incident').value : incidentOption"
                                *ngFor="let incidentOption of incidents; trackBy: trackIncidentById">
                                {{incidentOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.incidentType"
                            for="field_incidentType">Incident Type</label>
                        <select class="form-control col-6 " id="field_incidentType" name="incidentType"
                            formControlName="incidentType">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="incidentTypeOption.id === editForm.get('incidentType').value?.id ? editForm.get('incidentType').value : incidentTypeOption"
                                *ngFor="let incidentTypeOption of incidenttypes; trackBy: trackIncidentTypeById">
                                {{incidentTypeOption.name}}</option>
                        </select>
                    </div>

                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.schoolName"
                            for="field_schoolName">School Name</label>

                        <div class="input-group">
                            <input type="text" class="form-control col-6 " name="schoolName" id="field_schoolName"
                                formControlName="schoolName" />
                            <button class="btn btn-primary " (click)="serachSchoolPopup()"> ::</button>

                        </div>
                    </div>

                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.schoolId"
                            for="field_schoolId">School Id</label>
                        <input type="number" class="form-control col-6 " name="schoolId" id="field_schoolId"
                            formControlName="schoolId" />
                    </div>

                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.grade"
                            for="field_grade">Grade</label>
                        <select class="form-control col-6 " id="field_grade" name="grade" formControlName="grade">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="gradeOption.id === editForm.get('grade').value?.id ? editForm.get('grade').value : gradeOption"
                                *ngFor="let gradeOption of grades; trackBy: trackGradeById">{{gradeOption.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.homeRoom"
                            for="field_homeRoom">Home Room</label>
                        <select class="form-control col-6 " id="field_homeRoom" name="homeRoom"
                            formControlName="homeRoom">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="homeRoomOption.id === editForm.get('homeRoom').value?.id ? editForm.get('homeRoom').value : homeRoomOption"
                                *ngFor="let homeRoomOption of homerooms; trackBy: trackHomeRoomById">
                                {{homeRoomOption.name}}</option>
                        </select>
                    </div>

                    <div class="form-group col-6">
                            <label class="form-control-label" jhiTranslate="cpsApp.cpCase.cluster"
                                for="field_cluster">Cluster</label>
                            <input type="text" class="form-control col-6 " name="cluster" id="field_cluster"
                                formControlName="cluster" />
                        </div>

                        <div class="form-group col-6">
                                <label class="form-control-label" jhiTranslate="cpsApp.cpCase.officer"
                                    for="field_cluster">Officer</label>
                                <input type="text" class="form-control col-6 " name="cluster" id="field_cluster"
                                    formControlName="officer" />
                            </div>

                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.studentName"
                            for="field_studentName">Student Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control col-6 " name="studentName" id="field_studentName"
                                formControlName="studentName" />
                            <button class="btn btn-primary " (click)="serachStudentPopup()"> ::</button>

                        </div>

                    </div>




                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.gender"
                            for="field_gender">Gender</label>
                        <input type="number" class="form-control col-6 " name="gender" id="field_gender"
                            formControlName="gender" />
                    </div>
                    <div class="form-group col-12">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.note"
                            for="field_note">Note</label>
                        <textarea class="form-control col-12 " name="note" id="field_note"
                            formControlName="note"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.reporterName"
                            for="field_reporterName">Reporter Name</label>
                        <input type="text" class="form-control col-6 " name="reporterName" id="field_reporterName"
                            formControlName="reporterName" />
                    </div>

                    <div class="form-group col-6">
                            <label class="form-control-label" jhiTranslate="cpsApp.cpCase.relationship"
                                for="field_relationship">Relationship</label>
                            <select class="form-control col-6 " id="field_relationship" name="relationship"
                                formControlName="relationship">
                                <option [ngValue]="null"></option>
                                <option
                                    [ngValue]="relationshipOption.id === editForm.get('relationship').value?.id ? editForm.get('relationship').value : relationshipOption"
                                    *ngFor="let relationshipOption of relationships; trackBy: trackRelationshipById">
                                    {{relationshipOption.name}}</option>
                            </select>
                        </div>
               
                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.email"
                            for="field_email">Email</label>
                        <input type="text" class="form-control col-6 " name="email" id="field_email"
                            formControlName="email" />
                    </div>
                    <div class="form-group col-6">
                        <label class="form-control-label" jhiTranslate="cpsApp.cpCase.phoneNumber"
                            for="field_phoneNumber">Phone Number</label>
                        <input type="text" class="form-control col-6 " name="phoneNumber" id="field_phoneNumber"
                            formControlName="phoneNumber" />
                    </div>
                    <!--
                            <div class="form-group col-6">
                                <label class="form-control-label" jhiTranslate="cpsApp.cpCase.incidentText" for="field_incidentText">Incident Text</label>
                                <input type="text" class="form-control col-6 " name="incidentText" id="field_incidentText"
                                       formControlName="incidentText"/>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label" jhiTranslate="cpsApp.cpCase.incidentTypeText" for="field_incidentTypeText">Incident Type Text</label>
                                <input type="text" class="form-control col-6 " name="incidentTypeText" id="field_incidentTypeText"
                                       formControlName="incidentTypeText"/>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label" jhiTranslate="cpsApp.cpCase.gradeText" for="field_gradeText">Grade Text</label>
                                <input type="text" class="form-control col-6 " name="gradeText" id="field_gradeText"
                                       formControlName="gradeText"/>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label" jhiTranslate="cpsApp.cpCase.homeRoomText" for="field_homeRoomText">Home Room Text</label>
                                <input type="text" class="form-control col-6 " name="homeRoomText" id="field_homeRoomText"
                                       formControlName="homeRoomText"/>
                            </div>
                            
                            <div class="form-group col-6">
                                <label class="form-control-label" jhiTranslate="cpsApp.cpCase.relationshipText" for="field_relationshipText">Relationship Text</label>
                                <input type="text" class="form-control col-6 " name="relationshipText" id="field_relationshipText"
                                       formControlName="relationshipText"/>
                            </div>
                            -->



                   
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" (click)="save()" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
<!--
</div>
-->