<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsApp.caseStatus.home.title">Case Statuses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-case-status" [routerLink]="['/case-status/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsApp.caseStatus.home.createLabel">
            Create a new Case Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="caseStatuses?.length === 0">
        <span jhiTranslate="cpsApp.caseStatus.home.notFound">No caseStatuses found</span>
    </div>
    <div class="table-responsive" *ngIf="caseStatuses?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsApp.caseStatus.name">Name</span></th>
            <th><span jhiTranslate="cpsApp.caseStatus.code">Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let caseStatus of caseStatuses ;trackBy: trackId">
                <td><a [routerLink]="['/case-status', caseStatus.id, 'view' ]">{{caseStatus.id}}</a></td>
                <td>{{caseStatus.name}}</td>
                <td>{{caseStatus.code}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/case-status', caseStatus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/case-status', caseStatus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/case-status', { outlets: { popup: caseStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
