<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incidentType">
            <h2><span jhiTranslate="cpsApp.incidentType.detail.title">Incident Type</span> {{incidentType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsApp.incidentType.name">Name</span></dt>
                <dd>
                    <span>{{incidentType.name}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.incidentType.code">Code</span></dt>
                <dd>
                    <span>{{incidentType.code}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/incident-type', incidentType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
