<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsApp.incidentType.home.title">Incident Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-incident-type" [routerLink]="['/incident-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsApp.incidentType.home.createLabel">
            Create a new Incident Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="incidentTypes?.length === 0">
        <span jhiTranslate="cpsApp.incidentType.home.notFound">No incidentTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="incidentTypes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsApp.incidentType.name">Name</span></th>
            <th><span jhiTranslate="cpsApp.incidentType.code">Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let incidentType of incidentTypes ;trackBy: trackId">
                <td><a [routerLink]="['/incident-type', incidentType.id, 'view' ]">{{incidentType.id}}</a></td>
                <td>{{incidentType.name}}</td>
                <td>{{incidentType.code}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/incident-type', incidentType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/incident-type', incidentType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/incident-type', { outlets: { popup: incidentType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
