<div class="container-fluid">

        <div class="col-12  justify-content-center mx-3">
                <h2 id="page-heading">
                    <span jhiTranslate="cpsApp.school.home.title">Schools</span>
            
                    <!--
                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-school" [routerLink]="['/school/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span  jhiTranslate="cpsApp.school.home.createLabel">
                        Create a new School
                        </span>
                    </button>
            
                    -->
            
                </h2>
                <jhi-alert></jhi-alert>
                <br />
               
                    
            
            
                <div>
                    <div>
                        <label class="form-control-label" jhiTranslate="cpsApp.school.name" for="field_name">
                            Name</label> &nbsp;&nbsp;
                        <input type="text" name="field_name" id="field_name" [(ngModel)]="schoolName" />
                        &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary " (click)="serachSchool()">
                            <!--
                                               [routerLink]="['/student/new']"
                                <fa-icon [icon]="'plus'"></fa-icon>
                                -->
                            <span>
                                Search
                            </span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" *ngIf="isModal === true">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>
            
                    </div>
                </div>
                <br>
                <div class="alert alert-warning" *ngIf="schools?.length === 0">
                    <span jhiTranslate="cpsApp.school.home.notFound">No schools found</span>
                </div>
                <div class="table-responsive" *ngIf="schools?.length > 0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span jhiTranslate="global.field.id">ID</span></th>
                                <th><span jhiTranslate="cpsApp.school.name">Name</span></th>
                                <th><span jhiTranslate="cpsApp.school.shortName">Short Name</span></th>
                                <th><span jhiTranslate="cpsApp.school.code">Code</span></th>
                                <th><span jhiTranslate="cpsApp.school.type">Type</span></th>
                                <th><span jhiTranslate="cpsApp.school.note">Note</span></th>
                                <th><span jhiTranslate="cpsApp.school.englishName">English Name</span></th>
                                <th><span jhiTranslate="cpsApp.school.managerId">Manager Id</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let school of schools ;trackBy: trackId">
                                <td><a (click)="handleUserClick(school)" >{{school.id}}</a></td>
                                <td>{{school.name}}</td>
                                <td>{{school.shortName}}</td>
                                <td>{{school.code}}</td>
                                <td>{{school.type}}</td>
                                <td jhiTranslate="{{'cpsApp.Status.' + school.note}}">{{school.note}}</td>
                                <td>{{school.englishName}}</td>
                                <td>{{school.managerId}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="submit" [routerLink]="['/school', school.id, 'viewSchool' ]"
                                            class="btn btn-info btn-sm">
                                            <fa-icon [icon]="'eye'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit" [routerLink]="['/school', school.id, 'editSchool']"
                                            class="btn btn-primary btn-sm">
                                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit"
                                            [routerLink]="['/school', { outlets: { popup: school.id + '/deleteSchool'} }]"
                                            replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                            <fa-icon [icon]="'times'"></fa-icon>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

</div>
