<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-school-heading" jhiTranslate="cpsApp.school.home.createOrEditLabel">Create or edit a School</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.shortName" for="field_shortName">Short Name</label>
                    <input type="text" class="form-control" name="shortName" id="field_shortName"
                           formControlName="shortName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.type" for="field_type">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.note" for="field_note">Note</label>
                    <select class="form-control" name="note" formControlName="note" id="field_note">
                        <option value="ACTIVE">{{'cpsApp.Status.ACTIVE' | translate}}</option>
                        <option value="INACTIVE">{{'cpsApp.Status.INACTIVE' | translate}}</option>
                        <option value="SUSPENDED">{{'cpsApp.Status.SUSPENDED' | translate}}</option>
                        <option value="CREATED">{{'cpsApp.Status.CREATED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.englishName" for="field_englishName">English Name</label>
                    <input type="text" class="form-control" name="englishName" id="field_englishName"
                           formControlName="englishName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.school.managerId" for="field_managerId">Manager Id</label>
                    <input type="number" class="form-control" name="managerId" id="field_managerId"
                           formControlName="managerId"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
