<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="school">
            <h2><span jhiTranslate="cpsApp.school.detail.title">School</span> {{school.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsApp.school.name">Name</span></dt>
                <dd>
                    <span>{{school.name}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.school.shortName">Short Name</span></dt>
                <dd>
                    <span>{{school.shortName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.school.code">Code</span></dt>
                <dd>
                    <span>{{school.code}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.school.type">Type</span></dt>
                <dd>
                    <span>{{school.type}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.school.note">Note</span></dt>
                <dd>
                    <span jhiTranslate="{{'cpsApp.Status.' + school.note}}">{{school.note}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.school.englishName">English Name</span></dt>
                <dd>
                    <span>{{school.englishName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.school.managerId">Manager Id</span></dt>
                <dd>
                    <span>{{school.managerId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/school', school.id, 'editSchool']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
