<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsApp.grade.home.title">Grades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grade" [routerLink]="['/grade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsApp.grade.home.createLabel">
            Create a new Grade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="grades?.length === 0">
        <span jhiTranslate="cpsApp.grade.home.notFound">No grades found</span>
    </div>
    <div class="table-responsive" *ngIf="grades?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsApp.grade.name">Name</span></th>
            <th><span jhiTranslate="cpsApp.grade.code">Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grade of grades ;trackBy: trackId">
                <td><a [routerLink]="['/grade', grade.id, 'view' ]">{{grade.id}}</a></td>
                <td>{{grade.name}}</td>
                <td>{{grade.code}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/grade', grade.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grade', grade.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grade', { outlets: { popup: grade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
