<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-heading" jhiTranslate="cpsApp.student.home.createOrEditLabel">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.civility" for="field_civility">Civility</label>
                    <input type="text" class="form-control" name="civility" id="field_civility"
                           formControlName="civility"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.idNumber" for="field_idNumber">Id Number</label>
                    <input type="text" class="form-control" name="idNumber" id="field_idNumber"
                           formControlName="idNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.secondName" for="field_secondName">Second Name</label>
                    <input type="text" class="form-control" name="secondName" id="field_secondName"
                           formControlName="secondName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.thirdName" for="field_thirdName">Third Name</label>
                    <input type="text" class="form-control" name="thirdName" id="field_thirdName"
                           formControlName="thirdName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.fourthName" for="field_fourthName">Fourth Name</label>
                    <input type="text" class="form-control" name="fourthName" id="field_fourthName"
                           formControlName="fourthName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.familyName" for="field_familyName">Family Name</label>
                    <input type="text" class="form-control" name="familyName" id="field_familyName"
                           formControlName="familyName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.birthName" for="field_birthName">Birth Name</label>
                    <input type="text" class="form-control" name="birthName" id="field_birthName"
                           formControlName="birthName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.birthCity" for="field_birthCity">Birth City</label>
                    <input type="text" class="form-control" name="birthCity" id="field_birthCity"
                           formControlName="birthCity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.birthCountry" for="field_birthCountry">Birth Country</label>
                    <input type="text" class="form-control" name="birthCountry" id="field_birthCountry"
                           formControlName="birthCountry"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.nationality" for="field_nationality">Nationality</label>
                    <input type="text" class="form-control" name="nationality" id="field_nationality"
                           formControlName="nationality"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.englishFirstName" for="field_englishFirstName">English First Name</label>
                    <input type="text" class="form-control" name="englishFirstName" id="field_englishFirstName"
                           formControlName="englishFirstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.englishSecondName" for="field_englishSecondName">English Second Name</label>
                    <input type="text" class="form-control" name="englishSecondName" id="field_englishSecondName"
                           formControlName="englishSecondName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.englishThirdName" for="field_englishThirdName">English Third Name</label>
                    <input type="text" class="form-control" name="englishThirdName" id="field_englishThirdName"
                           formControlName="englishThirdName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.englishFourthName" for="field_englishFourthName">English Fourth Name</label>
                    <input type="text" class="form-control" name="englishFourthName" id="field_englishFourthName"
                           formControlName="englishFourthName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.englishFamilyName" for="field_englishFamilyName">English Family Name</label>
                    <input type="text" class="form-control" name="englishFamilyName" id="field_englishFamilyName"
                           formControlName="englishFamilyName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.englishBirthCity" for="field_englishBirthCity">English Birth City</label>
                    <input type="text" class="form-control" name="englishBirthCity" id="field_englishBirthCity"
                           formControlName="englishBirthCity"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.gender" for="field_gender">Gender</label>
                    <input type="number" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.maritalStatus" for="field_maritalStatus">Marital Status</label>
                    <input type="number" class="form-control" name="maritalStatus" id="field_maritalStatus"
                           formControlName="maritalStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.photoId" for="field_photoId">Photo Id</label>
                    <input type="number" class="form-control" name="photoId" id="field_photoId"
                           formControlName="photoId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.religion" for="field_religion">Religion</label>
                    <input type="number" class="form-control" name="religion" id="field_religion"
                           formControlName="religion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.religionSector" for="field_religionSector">Religion Sector</label>
                    <input type="number" class="form-control" name="religionSector" id="field_religionSector"
                           formControlName="religionSector"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.phoneListId" for="field_phoneListId">Phone List Id</label>
                    <input type="number" class="form-control" name="phoneListId" id="field_phoneListId"
                           formControlName="phoneListId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.addressListId" for="field_addressListId">Address List Id</label>
                    <input type="number" class="form-control" name="addressListId" id="field_addressListId"
                           formControlName="addressListId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.grade" for="field_grade">Grade</label>
                    <input type="text" class="form-control" name="grade" id="field_grade"
                           formControlName="grade"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.homeRoom" for="field_homeRoom">Home Room</label>
                    <input type="text" class="form-control" name="homeRoom" id="field_homeRoom"
                           formControlName="homeRoom"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.schoolId" for="field_schoolId">School Id</label>
                    <input type="number" class="form-control" name="schoolId" id="field_schoolId"
                           formControlName="schoolId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsApp.student.schoolName" for="field_schoolName">School Name</label>
                    <input type="text" class="form-control" name="schoolName" id="field_schoolName"
                           formControlName="schoolName"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
