<div class="container-fluid">
    <div class="col-12  justify-content-center mx-3">

        <h2 id="page-heading">
            <span jhiTranslate="cpsApp.student.home.title">Students</span>
            <!--
                    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student"
                        [routerLink]="['/student/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span jhiTranslate="cpsApp.student.home.createLabel">
                            Create a new Student
                        </span>
                    </button>
            
                    -->
        </h2>
        <jhi-alert></jhi-alert>
        <br />



        <div>
            <div>
                <label class="form-control-label" jhiTranslate="cpsApp.student.firstName" for="field_firstName">First Name</label> &nbsp;&nbsp;
                <input type="text" name="firstName" id="field_firstName" [(ngModel)]="studentName" />
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary " (click)="serachStudent()">
                    <span>
                        Search
                    </span>
                </button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()"
                    *ngIf="isModal === true">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>


            </div>
        </div>
        <br>
        <div class="alert alert-warning" *ngIf="students?.length === 0">
            <span jhiTranslate="cpsApp.student.home.notFound">No students found</span>
        </div>
        <div class="table-responsive" *ngIf="students?.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th><span jhiTranslate="cpsApp.student.firstName">First Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.secondName">Second Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.familyName">Family Name</span></th>

                        <th><span jhiTranslate="cpsApp.student.birthDate">Birth Date</span></th>


                        <th><span jhiTranslate="cpsApp.student.nationality">Nationality</span></th>
                        <th><span jhiTranslate="cpsApp.student.englishFirstName">English First Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.englishSecondName">English Second Name</span></th>


                        <th><span jhiTranslate="cpsApp.student.gender">Gender</span></th>

                        <th><span jhiTranslate="cpsApp.student.grade">Grade</span></th>
                        <th><span jhiTranslate="cpsApp.student.homeroom">Homeroom</span></th>

                        <th><span jhiTranslate="cpsApp.student.schoolName">School Name</span></th>


                        <th></th>

                        <!--
            
                             <th><span jhiTranslate="cpsApp.student.birthCity">Birth City</span></th>
                        <th><span jhiTranslate="cpsApp.student.birthCountry">Birth Country</span></th>
                           <th><span jhiTranslate="global.field.id">ID</span></th>
                        <th><span jhiTranslate="cpsApp.student.civility">Civility</span></th>
                        <th><span jhiTranslate="cpsApp.student.idNumber">Id Number</span></th>
                        <th><span jhiTranslate="cpsApp.student.englishBirthCity">English Birth City</span></th>
                         <th><span jhiTranslate="cpsApp.student.birthName">Birth Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.thirdName">Third Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.englishThirdName">English Third Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.englishFourthName">English Fourth Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.englishFamilyName">English Family Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.fourthName">Fourth Name</span></th>
                        <th><span jhiTranslate="cpsApp.student.maritalStatus">Marital Status</span></th>
                        <th><span jhiTranslate="cpsApp.student.photoId">Photo Id</span></th>
                        <th><span jhiTranslate="cpsApp.student.religion">Religion</span></th>
                        <th><span jhiTranslate="cpsApp.student.religionSector">Religion Sector</span></th>
                        <th><span jhiTranslate="cpsApp.student.phoneListId">Phone List Id</span></th>
                        <th><span jhiTranslate="cpsApp.student.addressListId">Address List Id</span></th>
                        <th><span jhiTranslate="cpsApp.student.schoolId">School Id</span></th>
            
                        -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students ;trackBy: trackId">
                        <td><a (click)="handleUserClick(student)">{{student.id}}</a></td>
                        <!--
            
                                   
                                  <td><a [routerLink]="['/student', student.id, 'view' ]">{{student.id}}</a></td>
                            <td>{{student.civility}}</td>
                            <td>{{student.idNumber}}</td>
                             <td>{{student.thirdName}}</td>
                            <td>{{student.fourthName}}</td>
                              <td>{{student.birthName}}</td>
                               <td>{{student.englishThirdName}}</td>
                            <td>{{student.englishFourthName}}</td>
                            <td>{{student.englishFamilyName}}</td>
                             <td>{{student.englishBirthCity}}</td>
            
                              <td>{{student.maritalStatus}}</td>
                            <td>{{student.photoId}}</td>
                            <td>{{student.religion}}</td>
                            <td>{{student.religionSector}}</td>
                            <td>{{student.phoneListId}}</td>
                            <td>{{student.addressListId}}</td>
                              <td>{{student.schoolId}}</td>
            
                               <td>{{student.birthCity}}</td>
                            <td>{{student.birthCountry}}</td>
            
            
                            -->

                        <td>{{student.firstName}}</td>
                        <td>{{student.secondName}}</td>
                        <td>{{student.familyName}}</td>

                        <td>{{student.birthDate | date:'mediumDate'}}</td>

                        <td>{{student.nationality}}</td>
                        <td>{{student.englishFirstName}}</td>
                        <td>{{student.englishSecondName}}</td>


                        <td>{{student.gender}}</td>

                        <td>{{student.grade}}</td>
                        <td>{{student.homeroom}}</td>

                        <td>{{student.schoolName}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit" [routerLink]="['/student', student.id, 'viewStudent' ]"
                                    class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <!--
                                        <button type="submit"
                                            [routerLink]="['/student', student.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/student', { outlets: { popup: student.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
            
                                    -->

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>