<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="cpsApp.student.detail.title">Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsApp.student.civility">Civility</span></dt>
                <dd>
                    <span>{{student.civility}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.idNumber">Id Number</span></dt>
                <dd>
                    <span>{{student.idNumber}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.firstName">First Name</span></dt>
                <dd>
                    <span>{{student.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.secondName">Second Name</span></dt>
                <dd>
                    <span>{{student.secondName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.thirdName">Third Name</span></dt>
                <dd>
                    <span>{{student.thirdName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.fourthName">Fourth Name</span></dt>
                <dd>
                    <span>{{student.fourthName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.familyName">Family Name</span></dt>
                <dd>
                    <span>{{student.familyName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.birthName">Birth Name</span></dt>
                <dd>
                    <span>{{student.birthName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{student.birthDate}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.birthCity">Birth City</span></dt>
                <dd>
                    <span>{{student.birthCity}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.birthCountry">Birth Country</span></dt>
                <dd>
                    <span>{{student.birthCountry}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.nationality">Nationality</span></dt>
                <dd>
                    <span>{{student.nationality}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.englishFirstName">English First Name</span></dt>
                <dd>
                    <span>{{student.englishFirstName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.englishSecondName">English Second Name</span></dt>
                <dd>
                    <span>{{student.englishSecondName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.englishThirdName">English Third Name</span></dt>
                <dd>
                    <span>{{student.englishThirdName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.englishFourthName">English Fourth Name</span></dt>
                <dd>
                    <span>{{student.englishFourthName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.englishFamilyName">English Family Name</span></dt>
                <dd>
                    <span>{{student.englishFamilyName}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.englishBirthCity">English Birth City</span></dt>
                <dd>
                    <span>{{student.englishBirthCity}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.gender">Gender</span></dt>
                <dd>
                    <span>{{student.gender}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.maritalStatus">Marital Status</span></dt>
                <dd>
                    <span>{{student.maritalStatus}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.photoId">Photo Id</span></dt>
                <dd>
                    <span>{{student.photoId}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.religion">Religion</span></dt>
                <dd>
                    <span>{{student.religion}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.religionSector">Religion Sector</span></dt>
                <dd>
                    <span>{{student.religionSector}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.phoneListId">Phone List Id</span></dt>
                <dd>
                    <span>{{student.phoneListId}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.addressListId">Address List Id</span></dt>
                <dd>
                    <span>{{student.addressListId}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.grade">Grade</span></dt>
                <dd>
                    <span>{{student.grade}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.homeRoom">Home Room</span></dt>
                <dd>
                    <span>{{student.homeRoom}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.schoolId">School Id</span></dt>
                <dd>
                    <span>{{student.schoolId}}</span>
                </dd>
                <dt><span jhiTranslate="cpsApp.student.schoolName">School Name</span></dt>
                <dd>
                    <span>{{student.schoolName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'editStudent']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
